---
layout: default
title: Johannes Lindner
nav: home
permalink: /index.html
---
<!--/ Intro Skew Star /-->
<div id="home" class="intro route bg-image" style="background-image: url({{ '/img/tum-img-bikesim.jpg' | relative_url }})">
  <div class="overlay-itro"></div>
  <div class="intro-content display-table">
    <div class="table-cell">
      <div class="container">
        <h1 class="intro-title mb-4">Johannes Lindner</h1>
        <p class="intro-subtitle"><span class="text-slider-items">Traffic Safety, Digital Twins, Microscopic Traffic Simulation, Co-Simulation, Human-in-the-Loop Simulators, Automated Driving</span><strong class="text-slider"></strong></p>
      </div>
    </div>
  </div>
</div>
<!--/ Intro Skew End /-->

<section id="about" class="about-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-shadow-full">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-sm-6 col-md-5">
                  <div class="about-img">
                    <img src="{{ '/img/Profilbild.jpg' | relative_url }}" class="img-fluid rounded b-shadow-a" alt="">
                  </div>
                </div>
                <div class="col-sm-6 col-md-7">
                  <div class="about-info">
                    <p><span class="title-s">Johannes Lindner</span> <span></span></p>
                    <p><span class="title-s"></span> <span>Researcher and Doctoral Candidate</span></p>
                    <p><span class="title-s"></span> <span>Technical University of Munich</span></p>
                    <p><span class="title-s"></span> <span></span>  </p>

                    <div class="socials", style="margin-top: 15%;">
                      <ul>
                        <li><a href="mailto:johannes.lindner@tum.de"><span class="ico-circle"><i class="ion-email"></i></span></a></li>
                        <li><a href="https://www.linkedin.com/in/johannes-lindner-b82528174/"><span class="ico-circle"><i class="ion-social-linkedin"></i></span></a></li>
                        <li><a href="https://scholar.google.com/citations?user=eIfeiTgAAAAJ&hl=de&oi=ao"><span class="ico-circle"><i class="ion-university"></i></span></a></li>
                        <li><a href="https://github.com/johannes-lindner"><span class="ico-circle"><i class="ion-social-github"></i></span></a></li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about-me pt-4 pt-md-0">
                <div class="title-box-2">
                  <h5 class="title-left">
                    About me
                  </h5>
                </div>
                <p class="lead">
                  I am a transportation researcher with a background in civil and environmental engineering, passionate about automated driving, traffic simulation, digital twins, and XR technologies.
                </p>
                <div class="tags-box mt-3">
                  <span class="tag-item">Microscopic Traffic Simulation</span>
                  <span class="tag-item">Co-Simulation</span>
                  <span class="tag-item">Automated Vehicles</span>
                  <span class="tag-item">Human-in-the-Loop Simulation</span>
                  <span class="tag-item">Digital Twins</span>
                  <span class="tag-item">XR</span>
                  <span class="tag-item">Statistics</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--/ Section Projects Star /-->
<section id="projects" class="portfolio-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a">
            Featured Work
          </h3>
          <p class="subtitle-a">
            A selection of notable research projects, software tools, and collaborative initiatives.
          </p>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row">
      {% assign featured = site.projects | sort: 'order' %}
      {% for item in featured %}
      {% include project-card.html item=item %}
      {% endfor %}
    </div>
  </div>
</section>
<!--/ Section Projects End /-->
