  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="{{ page.description | default: site.description }}" name="description">

  <!-- Favicons -->
  <link href="{{ '/img/JL-icon.svg' | relative_url }}" rel="icon">
  <link href="{{ '/img/JL-icon.svg' | relative_url }}" rel="apple-touch-icon">

  <!-- Bootstrap CSS File -->
  <link href="{{ '/lib/bootstrap/css/bootstrap.min.css' | relative_url }}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{{ '/lib/font-awesome/css/font-awesome.min.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/lib/animate/animate.min.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/lib/ionicons/css/ionicons.min.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/lib/owlcarousel/assets/owl.carousel.min.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/lib/lightbox/css/lightbox.min.css' | relative_url }}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{{ '/css/style.css' | relative_url }}?v={{ site.time | date: '%s' }}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: DevFolio
    Theme URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
